
.header{
  background: url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Spam_musubi_at_Ninja_Sushi.jpg);
  background-size: cover;
  background-position: center;
}
/* ARTICLE TEASERS ( FLEXBOX )  **************************************************** */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.grid-cell {
  flex: 0 0 .20%; /* flex-grow flex-shrink flex-basis */
  max-width: 320px;
  background: snow;
  padding: 10px;
  margin: 10px;
}
.grid-cell .tzr-th {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.tzr-th img {
  width: 100%
}

.tease_th{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
/*.tz_l{
  flex: 0 0 .50%;
}
.tz_r{
  flex: 0 0 .50%;
}*/
