
.header{
  background: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/25126583741_d7db3f6905_o.jpg?itok=34hyLETP);
  background-size: cover;
  background-position: center;
}
/* ARTICLE TEASERS ( FLEXBOX )  **************************************************** */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.grid-cell {
  flex: 0 0 .20%; /* flex-grow flex-shrink flex-basis */
  max-width: 320px;
  background: snow;
  padding: 10px;
  margin: 10px;
}
.grid-cell .tzr-th {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.tzr-th img {
  width: 100%
}

.tease_th{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
/*.tz_l{
  flex: 0 0 .50%;
}
.tz_r{
  flex: 0 0 .50%;
}*/
